#listado {
	margin: auto; /* se utiliza para centrar */
	margin-top: 1em;
}
th {
	height: 30px;
	background-color: black;
	color: white;
}
th a {
	color: black;
	text-decoration: none;
	background-position: right -1px;
	background-color: white;
	background-repeat: no-repeat;
	padding: 0px 20px;
}
th a.activo {
	color: orange;
}
th a.activo.DESC {
	background-image: url(../app_img/orderasc.png);
}
th a.activo.ASC {
	background-image: url(../app_img/orderdesc.png);
}
tfoot {
	background-color: black;
	text-align: center;
	color: white;
}
tfoot td {
	height: 24px;
}

tr.impar {
	background-color: #ddd;
}
td.activo {
	border-left: 4px solid yellow;
}
td.vacio {
	vertical-align: middle;
}
td {
	text-align: center;
}