/*
	La sintaxis de CSS es la siguiente
	
	selector {
		regla1: valor1;
		reglaN: valorN;
	}
	
	selector de etiqueta
	
	"todos los <p>"
	p {
	}
	
	selector por ID
	todos los elementos que tengan un atributo id='barra'
	#barra {
	}
	
	selector por clase
	todos los elementos que tengan un atributo clase='error'
	.error {
	}
	
	selectores compuestos (sumo subconjuntos)
	todos los <p>, <a> y <img>
	
	p, a, img, #barra, .fruta {
	
	}
	
	selectores por herencia
	
	Cualquier elemento class='ok' que esté dentro de un <span> que esté dentro de cualquier elemento id='main'
	#main span .ok {
	}
	
	investiguen los pseudo-selectores                           \
	tr:hover las filas cuando sobre ellas con el mouse          |
	:first                                                      |
	                                                             > http://librosweb.es/css_avanzado/capitulo_3/selectores_de_css_3.html
	investiguen selectores de CSS3                              |
	p:nth-child(2) el segundo parrafo                           |
	a[href^=http:] todos los <a> cuyo href comience en http:    /
    
	
*/

body {
	font-family: Arial;
	font-size: 15px;
}
ul, body {
	margin: 0px;
	padding: 0px;
}
/* selector por ID, #id_que_quiero */
#header {
	height: 100px;
	background-color: yellow;
}
#content {
	min-height: 400px;
}
#navbar {
	background-color: orange;
}
#navbar ul {
	list-style: none;
	overflow: hidden;
	text-indent: 0px;
}
#navbar ul li {
	
}
#navbar ul li a {
	text-decoration: none;
	display: block;
	background-color: gray;
	color: white;
	float: left;
	margin-right: 1em;
	padding: 1em; /* em es una medida relativa al tamaño del cuerpo tipográfico */
}
#navbar ul li a:hover {
	background-color: white;
	color: gray;
}
#navbar ul li a.activo {
	background-color: red;
	color: gray;
}
#footer {
	background-color: black;
	color: white;
	font-size: 80%;
	text-align: center;
}

.error {
	background-color: red;
}
.importante {
	border: 5px solid magenta;
}
.error.importante {
	font-weight: bold;
}